@import './fonts.css';

.container {
    max-width: 1200px;
    border: 1px solid orange;
    margin: 0 auto;
    background: blue;
}

h1{
    color: green;
    font-family: 'Open Sans', sans-serif;
}

.logo{
    background: url('../assets/logo.jpg');
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}